*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    
    background-color: white;
color: black;

}
body::-webkit-scrollbar{
    width: 16px;
}
body::-webkit-scrollbar-thumb{
    background: rgb(189, 190, 190);
    /* border-radius: 16px;
    --webkit-border-radius:16px; */
}
body::-webkit-scrollbar-track{
    background-color: azure;
    /* border-radius: 16px;
    --webkit-border-radius:16px; */
}
.logo{
height: 60px;
border-radius: 100%;
}
 #chef{
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 100%;
   border-style: solid;
   border-color: black;

} 
header nav{
    background-color:#cb7fc6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
/* header nav h1{
  font-size: 26px;
   font-weight: 700;
   letter-spacing: 1px;
   text-transform: uppercase;

} */
header nav form{
    display: flex;
    justify-content: centre;

}

form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}
form input[type="text"],button[type="submit"] {
    border: none ;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
     
}
form button[type="submit"]{
    width: 40px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100%;
}
form button[type="submit"]:hover{
    background-color: rgb(220, 228, 220);
}
/* main section */
.recipe-container {
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;
}

.recipe{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
}
.recipe:hover{
    transform: scale(1.02);
}
.recipe img{
    height: 300px;
}
.recipe h3{
    font-size: 24px;
    margin-block: 5px ;
}
.recipe p{
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 0;
}
.recipe span{
    font-weight: 600;
}
.recipe button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 18px auto;
    background-color: blueviolet;
    color: white;
    
}
.recipe button:hover,.recipe-close-btn:hover{
    background-color: rgb(196, 119, 183);
}

/* recipe details */
.recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%) ;
    background-color: #F1AC88;
    border-radius: 12px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    transition: all 0.5s ease-in-out ;
    overflow-y: scroll;
}
.recipe-details::-webkit-scrollbar{
    width: 10px;
}
.recipe-details::-webkit-scrollbar-thumb{
    background-color: azure;
    border-radius: 16px;
    --webkit-border-radius:16px;
}

.recipe-details-content{
    padding: 30px;
}
.recipeName{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom:20px ;
}

.ingredientlist{
    margin-bottom: 10px;
    margin-left: -20px;
    margin-bottom:20px ;
}
.recipeInstructions{
    line-height: 30px;
    white-space:pre-line ;
    margin-bottom:20px ;
}
.recipe-close-btn{
    border: none ;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: absolute;
    top: 20px;
    right:20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px) {
    header nav{
        flex-direction: column;
    }
    header nav form{
        width: 80%;
        margin-top: 20px;
    }
    
}
